<!-- wp:template-part {"slug":"header","theme":"dicophilo","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:4rem;margin-bottom:4rem"><!-- wp:heading -->
<h1 class="wp-block-heading">Quelque chose s'est mal passé.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Vous affichez actuellement le modèle de secours <code>index.html</code></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ce modèle s'affiche uniquement si aucun autre modèle ne correspond au contenu.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><code>index.html</code> est nécessaire au fonctionnement du thème mais devrait jamais s'afficher.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Voir la documentation WordPress sur <a href="https://developer.wordpress.org/themes/basics/template-hierarchy">la hiérarchie des modèles</a> (en anglais).</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"dicophilo","tagName":"footer"} /-->
